{{ $images := where .Site.Pages ".Type" "image" }}
{{ $documents := where .Site.Pages ".Type" "document" }}
{{ $videos := where .Site.Pages ".Type" "video" }}
[{{ range $index, $page := $images }}{{ if $index }},{{ end }}
{
  "url": "{{$page.RelPermalink}}",
  "title": "{{$page.Title}}",
  "media": "{{$page.Type}}",
  "year": "{{$page.Params.year}}",
  "category": "{{range $page.Params.categories}}{{.}}{{end}}",
  "category_link": "{{range $page.Params.categories}}/categories/{{. | urlize}}/{{end}}",
  "course_link": "{{range $page.Params.courses}}/courses/{{. | urlize}}/{{end}}",
  "course": "{{range $page.Params.courses}}{{.}}{{end}}"
}{{ end }}

{{ range $index, $page := $documents }},
{
  "url": "{{$page.RelPermalink}}",
  "title": "{{$page.Title}}",
  "media": "{{$page.Type}}",
  "year": "{{$page.Params.year}}",
  "category": "{{range $page.Params.categories}}{{.}}{{end}}",
  "category_link": "{{range $page.Params.categories}}{{. | urlize}}{{end}}",
  "course_link": "{{range $page.Params.courses}}/courses/{{. | urlize}}/{{end}}",
  "course": "{{range $page.Params.courses}}{{.}}{{end}}"
}{{ end }}

{{ range $index, $page := $videos }},
{
  "url": "{{$page.RelPermalink}}",
  "title": "{{$page.Title}}",
  "media": "{{$page.Type}}",
  "year": "{{$page.Params.year}}",
  "category": "{{range $page.Params.categories}}{{.}}{{end}}",
  "category_link": "{{range $page.Params.categories}}{{. | urlize}}{{end}}",
  "course_link": "{{range $page.Params.courses}}/courses/{{. | urlize}}/{{end}}",
  "course": "{{range $page.Params.courses}}{{.}}{{end}}"
}{{ end }}
]
