{{ partial "header.html" }}

<h1>{{.Title}}</h1>

<a class="btn btn-default" href="#details">Details</a>

<hr />

<div class="alert alert-danger" role="alert">Sorry, but media embeds are not ported yet. This is just a placeholder video.</div>

<!-- 16:9 aspect ratio -->
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/fuTzNT56a-s" frameborder="0" allowfullscreen></iframe>
</div>

<!-- 4:3 aspect ratio -->
<!--<div class="embed-responsive embed-responsive-4by3">-->
<!--<iframe class="embed-responsive-item" src="..." frameborder="0" allowfullscreen></iframe>-->
<!--</div>-->

<hr />

<a name="details"></a><h2>Details</h2>

<dl>
<dt>Title</dt>
<dd>{{.Title}}</dd>
</dl>

<dl>
    {{ if .Params.categories }}
    <dt>Category {{ len .Params.categories }}</dt>
    <dd>
        {{ range .Params.categories }}
        <a href="/categories/{{ . | urlize }}/">{{ . }}</a>
        {{ end }}
    </dd>
    {{ end }}

    {{ if .Params.courses }}
    <dt>Course</dt>
    <dd>
        {{ range .Params.courses }}
        <a href="/courses/{{ . | urlize }}/">{{ . }}</a>
        {{ end }}
    </dd>
    {{ end }}

    <dt>Media</dt>
    <dd>
        {{ range .Params.media }}
        <a href="/media/{{ . | urlize }}/">{{ . }}</a>
        {{ end }}
    </dd>
    
        {{ if .Params.year }}
    <dt>Year</dt>
    <dd>{{ .Params.year }}</dd>
    {{ end }}
    
</dl>

<dl>


    {{ if .Params.collection }}
    <dt>Collection</dt>
    <dd>{{ .Params.collection }}</dd>
    {{ end }}

    {{ if .Params.copyright }}
    <dt>Copyright</dt>
    <dd>{{ .Params.copyright }}</dd>
    {{ end }}

    {{ if .Params.copyright_notes }}
    <dt>Copyright Notes</dt>
    <dd>{{ .Params.copyright_notes }}</dd>
    {{ end }}
    
    {{ if .Params.director }}
    <dt>Director</dt>
    <dd>{{ .Params.director }}</dd>
    {{ end }}

    {{ if .Params.film_title }}
    <dt>Film Title</dt>
    <dd>{{ .Params.film_title }}</dd>
    {{ end }}

    {{ if .Params.location }}
    <dt>Location</dt>
    <dd>{{ .Params.location }}</dd>
    {{ end }}

    {{ if .Params.notes }}
    <dt>Notes</dt>
    <dd>{{ .Params.notes }}</dd>
    {{ end }}

    {{ if .Params.physical_description }}
    <dt>Physical Description</dt>
    <dd>{{ .Params.physical_description }}</dd>
    {{ end }}

    {{ if .Params.repository }}
    <dt>Repository</dt>
    <dd>{{ .Params.repository }}</dd>
    {{ end }}

</dl>

{{ partial "footer.html" }}
