<tr>
    <th><a href="{{.RelPermalink}}">{{.Title}}</a></th>
    <td>
        {{ range .Params.years }}
        <a href="/years/{{ . | urlize }}/">{{ . }}</a>
        {{ end }}
    </td>
    <td>
        {{ range .Params.categories }}
        <a href="/categories/{{ . | urlize }}/">{{ . }}</a>
        {{ end }}
    </td>
    <td>
        {{ range .Params.courses }}
        <a href="/courses/{{ . | urlize }}/">{{ . }}</a>
        {{ end }}
    </td>
    <td>
        {{ range .Params.media }}
        <a href="/media/{{ . | urlize }}/">{{ . }}</a>
        {{ end }}
    </td>
</tr>

