<script src="/js/src/filter.js"></script>

<div class="well" id="filter">

    <form class="form form-inline">

        <input type="text" name="filter-q" id="filter-q" placeholder="I'm looking for..." class="form-control"/>
        
        <select name="category" class="form-control" id="filter-category">
            <option value="" selected="selected">All Categories</option>
        </select>

        <select name="course" class="form-control" id="filter-course">
            <option value="" selected="selected">All Courses</option>            
        </select>

        <select name="media" class="form-control" id="filter-media">
            <option value="" selected="selected">All Media</option>
        </select>
        
    </form>
    
</div>


