<script src="/js/lib/underscore.min.js"></script>
<script src="/js/src/filter.js"></script>

<div id="filter">
    <form class="form form-inline">

        <input type="text" name="filter-q" id="filter-q" placeholder="search" class="form-control"/>
        
        <select name="category" class="form-control" id="filter-category">
            <option value="" selected="selected">Category: &lt;All&gt;</option>
        </select>

        <select name="course" class="form-control" id="filter-course">
            <option value="" selected="selected">Course: &lt;All&gt;</option>            
        </select>

        <select name="media" class="form-control" id="filter-media">
            <option value="" selected="selected">Media: &lt;All&gt;</option>
        </select>

</div>
