<script src="/js/lib/underscore.min.js"></script>
<script src="/js/src/filter.js"></script>

<div id="filter">
    <form class="form form-inline">

        <input type="text" name="filter-q" id="filter-q" placeholder="search" class="form-control"/>
        
        <select name="category" class="form-control" id="filter-category">
            <option value="" selected="selected">Category: &lt;All&gt;</option>
        </select>

        <select name="course" class="form-control" id="filter-course">
            <option value="" selected="selected">Course: &lt;All&gt;</option>            
        </select>

        <select name="media" class="form-control" id="filter-media">
            <option value="" selected="selected">Media: &lt;All&gt;</option>
        </select>

</div>

<script id="no-results-template" type="text/template">
    <div class="alert alert-danger q-no-item">
        Unfortunately, there are no results matching what you're looking for.
    </div>
</script>

<script id="result-row-template" type="text/template">
    <tr>
        <th><a href="<%= url %>"><%= unquotedTitle %></a></th>
        <td>
            <a href="/years/<%= year %>/"><%= year %></a>
        </td>
        <td>
            <a href="<%= category_link %>"><%= category %></a>
        </td>
        <td>
            <a href="<%= course_link %>"><%= course %></a>
        </td>
        <td>
            <a href="/media/<%= media %>/"><%= media %></a>
        </td>
    </tr>
</script>
