{{ partial "header.html" }}


<div class="jumbotron text-center">

<h1>The Film and Media Studies<br />Digital Library</h1>

<p>Discover videos, images, and documents from Professor Gaines' collection to incorporate into your assignments. You can also use <a href="https://mediathread.ccnmtl.columbia.edu/accounts/login/">Mediathread</a> to analyze the material and create projects.</p>

<p><a href="/library/" class="btn btn-lg btn-primary">Browse the Collection</a></p>

</div>


<div class="row">

<div class="col-md-12 text-center">

<h2>Partners</h2>

<p class="lead">
Professor Gaines' Film and Media Studies Digital Library was produced in partnership with the Columbia University community.
</p>

</div>

</div>

<div class="row">

<div class="col-md-4 text-center">

<a href="http://ctl.columbia.edu" target="_blank"><img class="img-thumbnail img-responsive" src="imgs/logo-ctl.png" alt="Columbia Center for Teaching and Learning" /></a>

</div>


<div class="col-md-4 text-center">

<a href="http://arts.columbia.edu/film" target="_blank"><img class="img-thumbnail img-responsive" src="imgs/logo-film.png" alt="Film Program,  Columbia University School of the Arts" /></a>

</div>


<div class="col-md-4 text-center">

<a href="http://library.columbia.edu" target="_blank"><img class="img-thumbnail img-responsive" src="imgs/logo-lib.png" alt="Columbia University Libraries" /></a>

</div>

</div>

{{ partial "footer.html" }}
