{{ partial "header.html" }}


<div class="jumbotron text-center">

<h1>The Film and Media Studies<br />Digital Library</h1>

<p>Discover videos, images, and documents from Professor Gaines' collection to incorporate into your assignments. You can also use the <a href="http://mediathread.columbia.edu/">Mediathread bookmarklet</a> to analyze the material and create projects.</p>

<p><a href="/library/" class="btn btn-lg btn-primary">Browse the Collection</a></p>

</div>


<div class="row">

<div class="col-md-4 text-center">

<h1>Discover</h1>

Explore the collection for videos, images, and documents with metadata from <a href="http://irwgs.columbia.edu/person/jane-gaines">Professor Gaines'</a> collection. 
</p>

<a href="/library/"><img class="img-responsive" src="imgs/demille.png" /></a>

</div>



<div class="col-md-4 text-center">

<h1>Incorporate</h1>

<p>
Use assets from the collection in your research map - a document that lays the foundation for a master's thesis.
</p>

<a href="/courses/"><img class="img-responsive" src="imgs/reels.png" /></a>

</div>



<div class="col-md-4 text-center">

<h1>Analyze</h1>

<p>
The <a href="http://mediathread.columbia.edu/">Mediathread bookmarklet</a> makes it easier to analyze the material and to create projects.
</p>

<a href="http://mediathread.columbia.edu/"><img class="img-responsive" src="imgs/mediathread.png" /></a>

</div>

{{ partial "footer.html" }}