{{ partial "header.html" }}

<h1>Home </h1>

<p>Welcome to Professor Gaines' Film Studies Digital Library. Use the collection links below or in the upper right hand corner of the site to browse and view videos, images and documents to incorporate into your assignments. Use the bookmarklet to analyze the material and create projects in MediaThread.</p>

<p><a href="/library/">Browse the Collection</a></p>

<!--

     Marc,

     This is basically the "login" page now.
     At least, it's the page that people would see before they login.
     We leave this open and put the rest of the site behind auth.

     With a static site, we don't have any way of rendering this page differently
     when the user is logged in or not, so that's a bit limiting. But then,
     the old Drupal version didn't actually do that either even though
     it potentially could've...


-->

{{ partial "footer.html" }}
